<h1>Trainer Stages</h1>

<%= link_to 'New Trainer Stage', new_trainer_program_stage_path(@program), class: 'btn btn-default' %>

<table class="table">
  <thead>
    <tr>
      <th>Этап</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @stages.each do |stage| %>
      <tr>
        <td><%= link_to "Этап #{stage.position}", trainer_stage_exercises_path(stage) %></td>
        <td><%= link_to 'Edit', edit_trainer_stage_path(stage), class: 'btn btn-default' %></td>
        <td><%= link_to 'Destroy', [:trainer, stage], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
