<h1>Trainer Stages</h1>

<%= link_to 'New Trainer Stage', new_trainer_program_stage_path(@program), class: 'btn btn-default' %>

<table>
  <thead>
    <tr>
      <th></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @stages.each do |stage| %>
      <tr>
        <td><%= link_to 'Show', [:trainer, stage] %></td>
        <td><%= link_to 'Edit', edit_trainer_stage_path(stage) %></td>
        <td><%= link_to 'Destroy', [:trainer, stage], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
