h1 = @subscription.user.full_name

= render 'form'

table.table.table-hover
  thead
    tr
      th.col-xs-3 Отправитель
      th.col-xs-9 Сообщение
  tbody
    - @messages.each do |message|
      - next unless message.content.present? || message.image?
      tr
        td.col-xs-3
          = message.category == 'user' ? @subscription.user.full_name : 'Тренер'
          br
          span.text-muted = message.created_at.to_formatted_s(:short)
        td.col-xs-9
          = message.content
          - if message.image?
            = link_to message.image_url do
              = image_tag message.image.thumb.url, class: 'img-responsive'
