= form_for([:trainer, @post]) do |f|
  = render 'shared/error_messages', object: @post
  .form-group
    = f.label :content
    = f.text_area :content, class: 'form-control'
  .form-group
    = f.label :image
    br
    = f.file_field :image
    br
    = image_tag(f.object.image_url) if f.object.image?
    = f.hidden_field :image_cache
  .form-group
    = f.label :program
    = f.select :program_id,
               options_from_collection_for_select(current_trainer.programs.general, 'id', 'name', f.object.program_id),
               { include_blank: true },
               class: 'form-control'
  .form-group
    = f.submit class: 'btn btn-primary'
