<h1>Запись</h1>

<p>
  <strong>Содержание: </strong> <%= @post.content %>
</p>

<% if @post.program.present? %>
  <p>
    <strong>Программа: </strong> <%= link_to @post.program.name, [:trainer, @post.program] %>
  </p>
<% end %>

<% if @post.image? %>
  <p>
    <strong>Изображение: </strong> <%= image_tag @post.image_url %>
  </p>
<% end %>
